<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TP Angular</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['oups']"
            routerLinkActive="active"
            style="padding: 20px; font-size: 18px"
          >Test 404</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['cv']"
            routerLinkActive="active"
            style="padding: 20px; font-size: 18px"
          >CV</a
          >
        </li>
        <div
          *ngIf="isLoggedIn$ | async"
          class="collapse navbar-collapse"
          id="navbarNavAltMarkup"
        >
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['cv/add']"
              routerLinkActive="active"
              style="padding: 20px; font-size: 18px"
              >ADD CV</a
            >
          </li>
        </div>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['cv/list']"
            routerLinkActive="active"
            style="padding: 20px; font-size: 18px"
            >List of Cvs</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['word']"
            style="padding: 20px; font-size: 18px"
            >Mini Word</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['rainbow']"
            style="padding: 20px; font-size: 18px"
            >Rainbow Text</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['products']"
            style="padding: 20px; font-size: 18px"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['operations']"
            style="padding: 20px; font-size: 18px"
          >Operations</a
          >
        </li>
        <ng-container *ngIf="isLoggedIn$ | async">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[]"
              (click)="logout()"
              style="padding: 20px; font-size: 18px"
              >Logout</a
            >
          </li>
        </ng-container>
        <li class="nav-item" *ngIf="isLoggedOut$ | async">
          <a
            class="nav-link"
            [routerLink]="['login']"
            style="padding: 20px; font-size: 18px"
            >Login</a
          >
        </li>

      </div>
    </div>
  </div>
</nav>
