<div class="glass-card mb-3">
  <div *ngIf="product" class="row">
    <div class="col-sm-6 d-flex align-items-center justify-content-center">
      <img
        src="{{ product.images[1] }}"
        style="
          width: 100%;
          height: 100px;
          object-fit: cover;
          border-radius: 8px 0 0 8px;
        "
        class="img-fluid"
        alt=""
      />
    </div>
    <div class="card-body text-center col-sm-6 d-flex align-items-center justify-content-center">
      <h5 class="card-title" style="color: #333; font-weight: bold; margin-bottom: 0">
        {{ product.title }}
      </h5>
    </div>
  </div>
</div>
